
#map {
    height: 700px;
    width: 100%;
    border: 2px solid #444;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content {
    background-color: #2c2c2c; 
    color: #fff; 
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    max-width: 400px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


#modalTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #fff;
    }

#loginForm,
#registerForm {
    display: block;
    margin: 0 auto;
    width: 100%;
}


label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ccc; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #444; 
    border: 1px solid #666;
    color: #fff; 
    border-radius: 4px;
    font-size: 16px;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        border-color: #1e90ff; 
    }


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #6c757d; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button[type="submit"]:hover {
        background-color: #5a6268;
    }

#errorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
}

#successMessage {
    color: green;
    margin-top: 10px;
    text-align: center;
}

#activitySearchText {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #444; 
    color: #fff; 
    border: 1px solid #555;
    border-radius: 4px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
}

    button:hover {
        background-color: #666;
    }


#searchModal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: #fff; 
}


    #searchModal .close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #ccc; 
    }


    #searchModal button {
        background-color: #444; 
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
    }


        #searchModal button:hover {
            background-color: #555; 

        }

body {
    background-color: #121212; 
    color: #fff; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

#profileForm {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    color: #f8f9fa;
}

    #profileForm .form-group {
        margin-bottom: 15px;
    }

    #profileForm .form-control {
        background-color: #444; 
        color: #f8f9fa; 
        border: 1px solid #666; 
        border-radius: 4px;
        padding: 10px;
    }

        #profileForm .form-control:focus {
            background-color: #555;
            border-color: #007bff; 
            color: #f8f9fa;
        }

    #profileForm .btn-primary {
        background-color: #007bff; 
        border-color: #007bff;
        color: white;
    }

        #profileForm .btn-primary:hover {
            background-color: #0056b3; 
            border-color: #004085;
        }


    #profileForm label {
        color: #ddd;
    }


#preview {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#profileForm select:focus,
#profileForm input[type="number"]:focus {
    background-color: #555;
    border-color: #007bff;
    color: #f8f9fa;
}


.openSearchButton {
    position: fixed;
    left: 1%;
}
.buttonContainer {
    position: relative; 
    height: 40px;
}

#mergeModal {
    display: none; /* Początkowo ukryty */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* Zapewnia, że modal jest na wierzchu */
}